*__pycache__
ATE/.vscode
ATE/.ipynb_checkpoints
ATE/checkpoint
ATE/old/*
ATE/ray_results/*
ATE/tune_aa_new_hope*
ATE/aa_new_hope_*
ATE/data/*
!ATE/data/Custom.npz
ATE/tune/*
ATE/results/*
ATE/Test/*
ATE/visualisations/*
ATE/exp_samson_mixed_loss.py
ATE/exp_weight_init_verification_basic_Samson/*
ATE/exp_weights_*/*
ATE/exp_Kaiming_*/*
ATE/exp_Xavier_*/*
ATE/verify_SAD/*
ATE/verify_MSE/*
ATE/test_Samson/*
ATE/test_Jasper/*
ATE/demo*
ATE/unittest_basic_Custom.npz
FCM/Results/*
FCM/Unittests/*
FCM/Results_different_seeds/*
!FCM/Unittests/test_Custom_data.npz
results/
mlruns/
.vscode
*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.synctex.gz
*.fdb_latexmk